.navbar .navbar-brand {
    font-family: 'Russo One',sans-serif!important;
    font-weight: 100!important;
    line-height: 1.1!important;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.navbar-toggler {
    color:#fff;
}
.navbar .nav-item {
    font-family: 'Russo One',sans-serif!important;
    color: #fff;
}
.navbar .nav-item .nav-link{
    font-family: 'Russo One',sans-serif!important;
    color: #fff;
}
.navbar ul li.active .nav-link{
    color:  #4CAF50;
    border-bottom: 5px solid #4CAF50;
}
.navbar ul li.active .nav-link:hover{
    color:  #66bc69;
    border-bottom: 5px solid #4CAF50;
}
.navbar ul li.special .nav-link{
    color:  #fff;
    background-color:  #4CAF50;
    border-top: 5px solid #4CAF50;
}
.navbar ul li.special .nav-link:hover{
    color:  #fff;
    background-color: #66bc69;
    border-top: 5px solid #4CAF50;
}
.navbar .nav-item .nav-link:hover{
    color:  #4CAF50;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
}

.main-header {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(180deg,rgba(0,0,0,0.6978992280505952) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%),url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-header .main-font-big {
    font-size: 8rem!important;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 600!important;
    line-height: 1.1!important;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.main-header .main-font-small {
    font-size: 40px;
    font-family: 'Russo One',sans-serif!important;
    font-weight: 300;
    color: #fff;
}
.main-header .alert-success {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-bottom-color: #4caf50;
    border-bottom: 4px solid rgba(0,0,0,0.1)!important;
    border-radius: 8px;
    cursor: pointer;
}
.main-header .button-glow {
    animation: glowing 2.5s infinite;
}
.main-header .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.main-header .pulse {
    animation-name: pulse;
    animation-duration: 1s;
}
.main-header h4 {
    margin: 0;
}
.main-header .serverIP small{
    font-size: 45%;
}

@media screen and (max-width: 768px){
    .main-header .main-font-big {
        font-size: 3rem!important;
    }
    .main-header .main-font-small {
        font-size: 1.5rem!important;
    }
    .server-status {
        max-width: 100%;
    }
}
@media screen and (min-width: 768px){
    .server-status {
        max-width: max-content;
    }
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px #4CAF50; }
    40% { box-shadow: 0 0 20px #4CAF50; }
    60% { box-shadow: 0 0 20px #4CAF50; }
    100% { box-shadow: 0 0 -10px #4CAF50; }
}




.main-footer {
    color:#fff;
    background-color: #222;
    padding: 1.5rem;
}
.main-footer h4 {
    font-family: 'Russo One',sans-serif!important;
    font-weight: 100!important;
    line-height: 1.1!important;
    color: #fff;
    border-bottom: 5px solid #4CAF50;
}
.copyright {
    padding-top: 1rem;
    text-align: center;
}
.copyright a {
    color: #4CAF50
}
.copyright a:hover {
    color: #66bc69;
}

ul.footer-links li a {
    color: #fff;
}
ul.footer-links li a:hover {
    color: #66bc69;
}
.footer-partners {
    width: 100%;
}